html,
body {
  width: 100%;
  margin: 0;
  margin-top: 80px;
  font-family: 'Gruppo', sans-serif;
  font-weight: 900;
  background-image: url(/assets/background-home-full.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  scroll-behavior:smooth;
}
h1, p{
  margin: 0;
}
p{
  font-size: 25px;
}
body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
a, a:visited{
  text-decoration: none;
  color: rgb(0, 0, 0);
}
:root{
  --home-color: rgb(43, 155, 148);
  --about-color: rgb(243, 129, 129);
  --about-border: 1px solid rgb(245, 35, 35);
  --projects-color: rgb(252, 227, 138);
  --projects-border: 1px solid rgb(230, 182, 10);
  --skills-color:  rgb(217, 242, 186);
  --skills-border: 1px solid rgb(151, 206, 83);
  --contact-color: rgb(149, 225, 211);
  --contact-border: 1px solid rgb(66, 171, 152);
}
.page{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}
.title{
  font-family: 'Monofett', monospace;
  font-size: 50px;
}
.animate__animated {
  --animate-duration: 3s;
}
/* .home{
  height: 60vh;
  justify-content:end;
} */
.name{
  font-size: 55px;
  color: var(--home-color);
}
.profile-pic{
  margin: 40px 0;
  width: 290px;
  border-radius: 50%;
}
