html,
body {
  width: 100%;
  margin: 0;
  /* margin-top: 80px; */
  font-family: 'Gruppo', sans-serif;
  font-weight: 900;
  background-image: url(/assets/background-home-full.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  scroll-behavior:smooth;
}
button{
  font-family: 'Gruppo', sans-serif;
  font-weight: 900;
  background-color: transparent;
}
button:hover{
  cursor: pointer;
}
h1, p{
  margin: 0;
}
h2{
  font-size: 35px;
}
p{
  font-size: 25px;
}
body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
a, a:visited{
  text-decoration: none;
  color: rgb(0, 0, 0);
}
:root{
  --home-color: rgb(43, 155, 148);
  --about-color: rgb(243, 129, 129);
  --about-border: 1px solid rgb(246, 79, 79);
  --projects-color: rgb(252, 227, 138);
  --projects-border-color: rgb(229, 192, 60);
  --projects-border: 1px solid rgb(229, 192, 60);
  --skills-color:  rgb(217, 242, 186);
  --skills-border-color: rgb(151, 206, 83);
  --skills-border: 1px solid rgb(151, 206, 83);
  --contact-color: rgb(149, 225, 211);
  --contact-border: 1px solid rgb(66, 171, 152);
}
.page{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  /* height: 100vh; */
  width: 100%;
}
.title{
  font-family: 'Monofett', monospace;
  font-size: 55px;
}
.animate__animated.animate__zoomIn {
  --animate-duration: 3s;
}
.home{
  height: 100vh;
  justify-content: center;
}
.name{
  color: var(--home-color);
}
.profile-pic{
  margin: 40px 0;
  width: 290px;
  border-radius: 50%;
}
.fa-brands, .fa-envelope, .fa-file-lines{
  color: var(--home-color);
  font-size: 60px;
  margin: 20px;
}
.fa-caret-down{
  font-size: 40px;
  color: var(--home-color);
}
#socials:hover{
  transform: translateY(-5px);
  transition: 0.5s;
}
.top{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
.bottom{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bottom p{
  display: none;
  color: var(--home-color)
}
.bottom:hover p{
  display: block;
}

