#projects h1{
  color: var(--projects-border-color);
  text-align: center;
  margin: 80px 0 10px 0;
}
#projects{
  align-items: center;
  border: var(--projects-border);
  margin: 40px;
  width: 90%;
  min-height: 90vh;
  border-radius: 7px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
.project-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
}
.project{
  padding: 40px;
  border: var(--projects-border);
  margin: 40px;
  width: 100%;
  min-height: 500px;
  border-radius: 7px;
  /* -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px); */
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.project> img{
  /* height: 60%; */
  width: 40%;
  padding: 20px;
  object-fit: contain;
  object-position: top;
}
.badges{
  /* background-color: red; */
  margin: 0 auto;
  width: 75%;
}
.project-links {
  margin-top: 20px;
}
.project-links > a{
  border: var(--projects-border);
  border-radius: 7px;
  padding: 10px;
  margin: 0 10px;
}
.project-links > a:hover{
  background-color: var(--projects-color);
  box-shadow: 1px 1px 15px rgb(250, 217, 3);
}
.project-links > a:active{
  background-color: var(--projects-color);
  background-color: transparent;
  box-shadow: none;
}
.description p{
  padding: 20px;
}
.description h2{
  margin-top: 0;
}
